body{
  background-color: #f0d9da;

}

.div1{
  position: absolute;
  top: 100px;

  height:800px ;
  width:800px;
  background-color: #213e3b;
  align-items: center;
}

.div2{
  height:600px ;
  width:600px;
  background-color: #41aea9;
  align-items: center;
}

.div3{
  height:400px ;
  width:400px;
  background-color: #a6f6f1;
  align-items: center;
}

.div4{
  height: 200px;
  width:200px;
  background-color: #e8ffff;
  align-items: center;
}
